[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Terminal=false
Exec=/home/evon/mycroft-core/start-mycroft.sh all
Name=Mycroft AI
Icon=/home/evon/Pictures/MycroftIcon/MycroftIcon.jpg
