[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Terminal=false
Exec=/bin/bash -c '/home/$USER/mycroft-core/start-mycroft.sh all'
Name=Mycroft AI
Icon=/usr/share/MycroftIcon/MycroftIcon.jpg
